version: '{build}'
skip_tags: false
image: Visual Studio 2017
test: off

build_script:
  - ps: make\make.ps1 -t build -ap Version:$($env:APPVEYOR_REPO_TAG_NAME)

artifacts:
  - path: reports
    name: Reports
  - path: '*.nupkg'
    name: Packages

deploy:
  - provider: NuGet
    api_key:
      secure: wsVSfiTOvjdQgExU1aVzfww+N1ptKt1et5epn7/mx/67+FI/QxR76eR7oGmEDNr+
    skip_symbols: true
    artifact: /OctopusProjectBuilder\.Console\..*\.nupkg/
    on:
      branch: master
      appveyor_repo_tag: true

  - provider: NuGet
    api_key:
      secure: wsVSfiTOvjdQgExU1aVzfww+N1ptKt1et5epn7/mx/67+FI/QxR76eR7oGmEDNr+
    skip_symbols: true
    artifact: /OctopusProjectBuilder\.Console\..*\.nupkg/
    on:
      branch: 3.x
      appveyor_repo_tag: true

after_deploy:
  - ps: |
      & git config --global credential.helper store
      Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n"
      & git config --global user.email "Appveyor Deploy"
      & git config --global user.name "Appveyor Deploy"
      make\make.ps1 -t update-wiki -ap Version:$($env:APPVEYOR_REPO_TAG_NAME)

environment:
  access_token:
    secure: Xu3+xPTTII2UDM8Bc6DH0H82IlTLOdJ3+ROJBOP84PvWvuYotiNk/OHRw+eMVuur
